body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif, system-ui;
    color: rgb(240, 248, 255);
    margin: 0;
    padding: 0;
    background-color: rgb(52, 51, 51) ;
}
header{
    padding: 10px 0;
}
nav{
    display: flex;
    justify-content: center;
}

nav ul{
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    list-style: none;
    display: flex;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    z-index: 100;
}

nav ul li{
    margin: 0 15px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;

}
nav ul li a:hover{
color: rgb(232, 232, 17);
}


#hola-mundo{
    margin: 2rem 0 0 2rem;
    padding: 0;
    font-size: 5rem;
}

#parrafo-descripcion{
    display: flex;
    margin: 0 2rem;
    padding: 0;
    font-size: 2rem;

}

.button-container{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    gap: 2rem;
}

.button {
    background-color: rgb(255, 255, 255, 0.15);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 8px 25px ;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    border-radius: 5px;

}

.button:hover{
    color: rgb(232, 232, 17);
}

.experiencia {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 2rem 2rem;
    padding: 1rem;
    width: 75%;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}
.proyectos {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 2rem 2rem;
    padding: 1rem;
    width: 75%;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}
.sobre-mi {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 2rem 2rem;
    padding: 1rem;
    width: 75%;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
